/* Start Global Rules */
/* ADD Fonts */
@font-face {
    font-family: "kallisto";
    src: local("kallisto"),
      url("../Fonts/Kallisto/Kallisto\ Light.otf") format("opentype") tech(color-COLRv1), url("trickster-outline.otf")
        format("opentype")
}
@font-face {
    font-family: "Eurostile";
    src: local("Eurostile"),
      url("../Fonts/Eurostile/Eurostile\ LT\ Std\ Medium.otf") format("opentype") tech(color-COLRv1), url("trickster-outline.otf")
        format("opentype")
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
body.clicked {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
button {
    font-family: inherit;
}
ul {
    list-style-type: none;
}
.container {
    width: calc(100% - 210px);
    margin-left: auto;
    margin-right: auto;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s;
    z-index: -1;
    pointer-events: none;
}
.overlay.clicked {
    opacity: 1;
    z-index: 99;
    pointer-events: all;
}
/* End Global Rules */
/* Start Header */
header {
    padding-top: 10px;
    position: relative;
  }
  .sub-nav .mobile-nav {
      display: none;
      padding: 20px;
      align-items: center;
      flex-direction: column;
      gap: 10px;
  }
  header .mobile-nav li a {
      display: flex;
      font-family: 'Kallisto',sans-serif;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      padding: 5px 6px;
      transition: .3s all ease-out;
  }
  header .mobile-nav li a:hover {
      background-color: #000;
      color: #fff;
      font-size: 17px;
  }
  header .container .logo img {
      width: 99.33px;
      height: 40px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .nav {
      display: flex;
      align-items: center;
      flex: 2;
      margin-left: -245px;
      height: 68px;
      justify-content: space-between;
      padding-left: 240px;
      padding-right: 240px;
  }
  header .container .logo , header .container .img {
      flex: 1;
  }
  header .container .nav > li > a {
      display: flex;
      font-family: 'Kallisto',sans-serif;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      padding: 15px 20px;
      transition: .3s all ease-out;
  }
  header .container .nav > li > a:hover {
      font-size: 17px;
      background-color: #000;
      color: #fff;
  }
  header .container .nav > li.menu-parent {
      position: relative;
  }
  header .container .nav > li > .charging-menu {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      width: 287px;
      height: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 43px;
      padding-top: 31px;
      background-color: #B1B2B2;
      opacity: 0;
      visibility: hidden;
      transition: all .2s;
  }
  header .container .nav > li.menu-parent:hover .charging-menu {
      opacity: 1;
      visibility: visible;
  }
  header .container .nav > li > .charging-menu li a {
    color: #fff;
    font-family: 'kallisto', sans-serif;

}
  header .container .nav > li > .charging-menu .micro-parent {
      position: relative;
  }
  header .container .nav > li > .charging-menu .micro-parent .micro-menu {
      position: absolute;
      left: calc(100% + 73px);
      top: -45%;
      width: 300px;
      background-color: #D6D6D6;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: .3s all;
  }
  header .container .nav > li > .charging-menu .micro-parent:hover .micro-menu {
      opacity: 1;
      visibility: visible;
  }
  header .container .nav > li > a:hover {
      background-color: #000;
      color: #fff;
      font-size: 17px;
  }
  header .container .nav .busniess-parent {
      position: relative;
  }
  header .container .nav .busniess-parent .busniess-menu {
      position: absolute;
      left: calc(100% + 60px);
      top: -45%;
      width: 300px;
      background-color: #D6D6D6;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: .3s all;
  }
  header .container .nav .busniess-parent:hover .busniess-menu {
      opacity: 1;
      visibility: visible;
  }
  header .container .nav .product-parent {
      position: relative;
  }
  header .container .nav .product-parent .product-menu {
      position: absolute;
      left: 50%;
      top: 100%;
      width: 300px;
      background-color: #B1B2B2;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: .3s all;
      transform: translateX(-50%);
  }
  header .container .nav .product-parent .product-menu li a {
      color: #fff;
  }
  header .container .nav .product-parent:hover .product-menu {
      opacity: 1;
      visibility: visible;
  }
  .sub-nav {
      position: absolute;
      top: 0;
      right: 0%;
      width: 400px;
      height: 100vh;
      background-color: #ffff;
      z-index: 100;
      transition: all .5s;
      opacity: 0;
      pointer-events: none;
      font-family: 'Eurostile',sans-serif;
  }
  .sub-nav.clicked {
      pointer-events: all;
      opacity: 1;
  }
  .sub-nav .sub-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 25px;
  }
  .sub-nav .links {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      font-family: 'Eurostile', sans-serif;
  }
  .sub-nav .links .double-links {
      width: 100%;
      margin-bottom: 50px;
  }
  .sub-nav .links a:hover {
      text-decoration: underline;
  }
  .sub-nav .links .double-links a {
      display: block;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: fit-content;
  }
  .sub-nav .links .single-link {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  @media (max-width:1230px) {
      header .container .nav li a {
          padding: 10px;
      }
      header .container .nav {
          padding-left: 100px;
          padding-right: 100px;
      }
      header .container {
          width: 95%;
      }
  }
  @media (max-width:767px)  {
      header .container .nav {
          display: none;
      }
      .sub-nav .mobile-nav {
          display: flex;
          gap: 40px;
          margin-top: 25px;
      }
  }
  @media (max-width: 400px) {
      .sub-nav .sub-header .logo img {
          width: 85px;
          margin-left: 125px;
      }
      .sub-nav .links {
          max-width: 100%;
          text-align: center;
      }
      .sub-nav {
          max-width: 100%;
      }
      .sub-nav .sub-header .logo img {
          margin-left: 0;
      } 
  }
  /* End Header */
  /* Start Landing */
.landing {
    padding-top: 100px;
    padding-bottom: 100px;
    height: 100vh;
  }
.landing .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
.landing .container .left-col {
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.landing .container .right-col {
    padding-left: 100px;
}
.landing .container .right-col p {
    font-family: 'Kallisto', sans-serif;
    font-weight: 300;
    line-height: 41px;
}
.landing .container .right-col h1 {
    font-family: 'Kallisto', sans-serif;
    font-weight: 700;
    font-size: 39px;
}
.landing .container .right-col a {
    margin-top: 299px;
    display: block;
    background-color: #000;
    color: #fff;
    width: fit-content;
    padding: 15px 25px;
    transition: all .3s;
    font-family: 'kallisto',sans-serif;
}
.landing .container .right-col a:hover {
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
}
@media (max-width: 1600px) {
    .landing .container {
        flex-direction: column;
        align-items: center;
    }
    .landing .container .left-col {
        padding: 0;
    }
    .landing .container .right-col {
        padding: 0;
        margin-top: 150px;
        text-align: center;
    }
    .landing .container .right-col a {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 550px) {
    .landing .container {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .landing .container .right-col h1 {
        font-size: 25px;
    }
}
  /* End Landing */
  /* Start wyh Section */
.why {
    background-color: #ECECEC;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Eurostile' ,sans-serif;
}
.why .container {
    display: flex;
    justify-content: space-between;
}  
.why .container .left-col h1 {
    color: #F39207;
    font-size: 35px;
    margin-top: 20px;
    font-family: 'kallisto' ,sans-serif;
}
.why .container .right-col p {
    font-weight: 400;
    font-size: 20px;
    max-width: 500px;

}
@media (max-width:1700px) {
    .why {
        margin-top: 400px;
    }
    .why .container {
        width: 100%;
        padding: 20px;
    }
    .why .container {
        flex-direction: column;
        gap: 40px;
    }
}
@media (max-width:780px) {
    .landing .container .left-col img {
        max-width: 100%;
    }
}
/* End wyh Section */
/* Start Time  */
.time {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'kallisto',sans-serif;
 }
 .time .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(390px,1fr));
    justify-content: center;
    gap: 40px;
 }
 .time .container .box {
     text-align: center;
 }
 .time .container .box h1 {
     color: #F39207;
     font-weight: 500;
     font-size: 70px;
     text-align: center;
 }
 .time .container .box p {
     margin-top: 15px;
 }
 .time .still {
     width: 80%;
     display: flex;
     margin-left: auto;
     margin-right: auto;
     justify-content: flex-start;
     margin-top: 60px;
     text-decoration: underline;
 }
 @media (max-width: 420px) {
     .time .container {
         grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
     }
 }
 /* End Time  */
 /* Start FAQ */
 .faq {
     padding-top: 100px;
     padding-bottom: 100px;
     font-family: 'Eurostile' ,sans-serif;
 }
 .faq .container {
     display: flex;
     justify-content: space-between;
     gap: 50px;
 }
 .faq .container .left-col span {
     font-weight: 400;
     font-size: 18px;
     line-height: 21px;
     margin-bottom: 10px;
     display: block;
 }
 .faq .container .left-col h1 {
     font-weight: 300;
     font-size: 35px;
     padding: 20px;
     font-family: 'kallisto',sans-serif;
 }
 .faq .container .right-col {
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
     gap: 230px;
     padding-left: 150px;
 }
 .faq .container .right-col .box {
     padding: 20px;
 }
 .faq .container .right-col p {
     font-weight: 600;
     font-size: 16px;
     margin-bottom: 60px;
 }
 @media (max-width: 1500px) {
     .faq .container {
         flex-direction: column;
         width: 100%;
         padding: 0px;
     }
     .faq .container .right-col {
         padding-left: 0;
     }
     .faq .container .right-col .box span {
         display: block;
         max-width: 100%;
     }
 }
 @media (max-width: 500px) {
     .faq .container .right-col {
     grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
     }
     .faq .container .right-col .box p {
         max-width: 90%;
         
     }
     .faq .container .right-col .box span {
         display: block;
         max-width: 90%;
     }
 }
 /* End FAQ */
 /* Start Apply */
.apply {
    padding-top: 100px;
    padding-bottom: 100px;
 }
.apply .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
 }
.apply .container .left-col {
    flex: 1;
 }
 .apply .container .left-col h2 {
    font-family: 'kallisto' ,sans-serif;
    font-weight: 300;
    font-size: 35px;
 }
.apply .container .right-col {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
}
.apply .container .right-col h3 {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-family: 'kallisto' ,sans-serif;
    padding-right: 200px;
    font-size: 16px;
    display: flex;
    position: relative;
}
.apply .container .right-col h3 i {
    position: absolute;
    right: 15px;
}
.apply .container.questions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 100px;
    gap: 60px;
}
.apply .container.questions .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 63%;
    border-bottom: 1px solid #d2cfcf;
    padding-bottom: 35px;
}
.apply .container.questions .box a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Eurostile',sans-serif;
}
.apply .container.questions .browse {
    font-family: 'Kallisto',sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 63%;
}
.apply .container.questions .box p {
    font-weight: 800;
    font-size: 16px;
    font-family: 'Kallisto',sans-serif;
}
@media (max-width: 1600px) {
    .apply .container.questions {
        align-items: center;
    }
    .apply .container.questions .box {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
@media (max-width: 1680px) {
    .apply .container .right-col {
        flex-direction: column;
        gap: 20px;
        padding-left: 0;
    }
}
@media (max-width: 1000px) {
    .apply .container {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}
@media (max-width: 320px) {
    .apply .container .right-col h3 {
        max-width: 100%;
        padding: 18px;
        padding-right: 110px;
    }
}
@media (max-width: 600px) {
    .apply .container.questions {
        width: 100%;
        padding: 20px;
        align-items: flex-start;
    }
    .apply .container.questions .box  {
        width: 100%;
    }
}
 /* Start End */
 /* Start Footer */
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
    font-family: 'Eurostile' ,sans-serif;

}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
footer .container .col ul li a {
    color: #fff;
    font-size: 18px;
}
footer .container .col:first-child img {
    margin-bottom: 400px;
}
footer .container .col a {
    display: block;
    padding: 20px;
}
footer .container .col .icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
@media (max-width:810px) {
    footer .container .col:first-child img {
        margin-bottom: 50px;
    }
}
@media (max-width:460px) {
    footer .container {
        width: 100%;
        padding: 20px;
        grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
    }
}
/* End Footer */